.messagesContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.messagesTitle {
    margin-bottom: var(--heading-mb);
}

.inputTopic,
.inputService {
    width: calc(calc(100% - 30px) / 2);
}

.inputMessage {
    width: 100%;
    height: 5rem;
    padding: 0.25rem;
}
