.subscriptions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subscriptionContent {
    width: 100%;
    margin-bottom: 2rem;
}

.subscriptionsTitle {
    margin-bottom: var(--heading-mb);
}

.subscriptionOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subscriptionTopic,
.subscriptionQos {
    width: calc(calc(100% - 30px) / 2);
}
