.subscriptions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subscriptionContent {
    width: 100%;
    margin-bottom: 2rem;
}

.subscriptionsTitle {
    margin-bottom: var(--heading-mb);
}
