.connection {
    width: 100%;
}

.connectionTitle {
    margin-bottom: var(--heading-mb);
}

.connectionContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hostname {
    width: 100%;
}

.username,
.password {
    width: calc(calc(100% - 30px) / 2);
}

.connectionError,
.connectionHint {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.connectionError {
    color: red;
}
