*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --input-height: 2.1rem;
    --input-mb: 1.2rem;
    --heading-mb: 1.5rem;
}

.appWrapper {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}
